/* Sets the standard style for all input tags. */
input {
	border: 1px solid #cccccc;
	padding: 10px;
	transition: padding 1s;
	background-color: #f2f2f2;
}
/* Sets the style for all input tags, when the user click into the input. */
input:focus {
	border: 1px solid #cccccc;
	padding: 12px;
	box-shadow: 0px 0px 35px -8px #00ffff;
	transition: padding 0.8s;
	background-color: #e6e6e6;
}

/* Sets the style for all input tags, when the user hovers over the input. */
input:hover {
	background-color: #e6e6e6;
}

/* Sets the style for all h1 tags. */
h1 {
	font-family: Verdana;
}

/* Sets the style for all table tags. */
table {
	padding: 20px;
}

/* Sets the style for all tr tags. */
tr {
	border: 1px solid black;
	padding: 0px;
}

/* Sets the style for all td tags. */
td {
	text-align: center;
	padding-top: 10px;
	padding-right: 35px;
	padding-left: 35px;
	padding-bottom: 10px;
}

/* Sets the style for all elements with the class "filmHeader". */
.filmHeader {
	background-color: #00ccff;
	padding: 5px;
	boder-radius: 25px;
	border: 2px solid #00a3cc;
	margin-bottom: 5px;
	border-collapse: separate;
}

/* Sets the style for all elements with the class "filmDiv". */
.filmDiv {
	border: 1px solid #bfbfbf;
	border-radius: 5px;
}

/* Sets the style for all elements with the class "FilmNotify-div". */
.FilmNotify-div {
	font-family: Verdana;
	font-size: 1.2em;
	font-weight: bold;
}